@font-face {
    font-family: "Helvetica Neue", sans-serif;
    src: url("./fonts/HelveticaNeue-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

.main-regular {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    background: #000000;
    color: #fff;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

a {
    color: #fff;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        color: #fff;
    }
}

a:focus, a:active {
    color: #fff;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 34px;
}

.mobile-btn, .mobile-block {
    display: none;
}


#first {
    padding: 40px 0;
    gap: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #000;
}

.logo {
    width: 22%;
    display: flex;
    gap: 22px;
    color: #fff;
}

.logo-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0;
}

.logo-items__main {
    font-size: 24px;
    line-height: 29px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
}

.logo-items__description {
    font-size: 12px;
    line-height: 1;
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-grow: 1;
}

.collection__item + .collection__item {
    margin-left: 20px;
}

.collection__link {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.navigation {
    width: 22%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation__link + .navigation__link {
    margin-left: 20px;
}

.navigation__link {
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 16px;
}


.collection__item, .navigation__link {
    line-height: 1.6;
}

.collection, .navigation {
    padding-top: 5px;
}


/*  main first */

.first-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.intro__video {
    max-width: unset;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    padding: 10px;
}


/* footer */

.footer {
    text-align: center;
}

.footer p {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    line-height: 1;
}


/* media ipad */

@media (max-width: 1020px) {
    #first {
        padding: 30px 0;
    }

    .container {
        padding: 0 17px;
    }

    .header {
        flex-wrap: wrap;
        gap: 25px;
        height: auto;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .collection {
        flex-grow: unset;
    }

    .navigation {
        width: unset;
    }

    .navigation, .collection {
        padding: 0
    }

    .collection__item + .collection__item {
        margin-left: 15px;
    }
    .navigation__link + .navigation__link {
        margin-left: 15px;
    }

    .intro__button {
        font-size: clamp(16px, 4vw, 28px);
    }
}


/* media phone */

@media (max-width: 576px) {

    #first {
        padding-top: 20px;
    }

    .mobile-block {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 777;
        transition: all 300ms ease-in-out;
        background: rgba(0,0,0,0.95);
    }

    .mobile-block.active {
        pointer-events: unset;
        opacity: 1;
        visibility: visible;
    }

    .mobile-btn {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .mobile-menu__close {
        position: absolute;
        top: 30px;
        right: 16px;
    }

    .navigation, .collection {
        display: none;
    }

    .header {
        align-items: center;
    }

    .logo {
        width: unset;
        gap: 14px;
    }

    .logo__image {
        width: 52px;
        height: 52px;
    }

    .logo-items {
        padding: 0;
    }

    .logo-items__main {
        font-size: 20px;
        line-height: 24px;
    }

    .footer p {
        font-size: 12px;
    }
}